.header .item {
    font-size: 24px;
    color: f9faf8;
}

.info-header {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.c2-items {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-bottom: 24px;
}

.c2-items .item {
    display: flex;
    flex-direction: column;
}

.c2-items img,
p {
    width:150px;
    height:150px;
    border-radius: 8px;
}

.item p {
    text-align: center;
    font-size: 18px;
    
}





