body {
    margin: 0;
}

.header {
   background-color: rgb(14, 238, 238); 
   margin: 0;
   padding: 8px 16px;
   display: flex;
   align-items: center;
}

.header.links1 {
    justify-content: flex-end;
}
